    server {
        listen 443 ssl;
        server_name your_domain.com;

        ssl_certificate /etc/nginx/ssl/server.crt;
        ssl_certificate_key /etc/nginx/ssl/server.key;

        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers 'ECDH+AESGCM:ECDH+AES:RSA+AESGCM:RSA+AES';
        ssl_prefer_server_ciphers on;

        root /var/www/html;
        index index.html;

        location / {
                try_files $uri $uri/ =404;
        }


    }
